.wrapper {
    width: 500px;
    margin: 20px auto auto;
}

.task2 {
    width: 100%;
    font: 600 11px 'open-sans';
    color: #333;
    th {
        font-weight: 700;
        border-bottom: solid 2px #ddd;
        @extend td;
    }
    td {
        text-align: left;
        padding: 10px 5px;
    }

}
