a {
    color: black;
    font-size: 35px;
    text-decoration-style: underline;
}

.box1 {
    background: red;
    color: white;
    width: 150px;
    font-size: 35px;
    font-weight: bold;
}

.box2 {
    background: blue;
    width: 400px;
    height: 65px;
    color: black;
    font-size: 25px;
}

.box3 {
    background: yellow;
    font-size: 20px;
    width: 400px;
    color: black;
    height: 55px;
}
