.wrapper{
    width: 640px;
    background: #d1d1d1;
    margin:  0 auto;
    padding: 50px 50px 30px 50px;
    font-family: Tahoma, sans-serif;
   position: relative;
}
.header{
    width:100%;
    height: 150px;
}
.header_img{
    width: 100%;
    height: 150px;
}
.inner-wrapper{
   padding: 50px 50px 40px 50px;
    background: #ffffff;
}
.main{
    width: 100%;
   
}
.main_center{
    text-align: center;
}
.main_first-line{
    margin-bottom: 0;
}
.main_second-line{
    margin-top: 12px;
    margin-bottom: 35px;
}
.main_third-line{
    margin-bottom: 0;
}
.main_forth-line{
    margin-top: 12px;
    margin-bottom: 35px;
}
.main_fifth-line{
    margin-bottom: 35px;
}
.page-img1{
    width: 100%;
    min-height: 250px;
    font-size: 14px;
    overflow: hidden;
}
.page-img1::after{
    clear: both;
}
.page-img1_img{
    width: 256px;
    height: 213px;
    
}
.page-img1_first{
    float: left;
    margin: 0 20px 0 0;
}
.page-img1_second {
    float: left;
    margin: 0;
    
}
.page-img1_line--first{
    margin:0;
}
.page-img1_line--second{
    margin: 10px 0;
}
.page-img1_line--third{
    margin:0;
}
.page-img1_line--forth{
    margin: 10px 0;
}

.page-button1{
   overflow: hidden;
    width: 100%;
    min-height: 50px;
}
.page-button1:after{
    clear: both;
}
.page-button_red1 {
    float: left;
    padding: 10px 80px 12px 80px;
    background: #cf5b4e;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius:5px 5px;
    margin: 20px 30px 20px 0;
    color: #fff;
    cursor: pointer;
}
.page-button_red2 {
    float: left;
    padding: 10px 80px 12px 80px;
    border: none;
    text-align: center;
    text-decoration: none;
    background: #cf5b4e;
    border-radius: 5px 5px;
    margin: 20px 0;
    color: #fff;
    cursor: pointer;
}
.page-img2{
    width: 100%;
    min-height: 250px;
    overflow: hidden;
}
.page-img2:after{
   clear: both;
}
.page-img2_img{
    width: 150px;
    height: 200px;
}
.page-img2_first {
    float: left;
    margin: 0;
    width: 150px;
    white-space: nowrap;
    font-size: 14px;
}

.page-img2_second {
    float: left;
    margin: 0 0 0 45px;
    font-size: 14px;
}
.page-img2_third {
    float: left;
    margin: 0 0 0 45px;
    width: 150px;
    font-size: 14px;
}
.page-img2_line--first{
    margin:0;
}
.page-img2_line--second{
    margin: 10px 0 0;
}

.page-button2{
    width: 100%;
    overflow: hidden;
}
.page-button2:after{
    clear: both;
}
.page-button_red3 {
    float: left;
    border: none;
    text-align: center;
    text-decoration: none;
    background: #cf5b4e;
    border-radius: 5px 5px;
    margin: 20px 0;
    padding: 10px 40px 12px 40px;
    color: #fff;
    cursor: pointer;
}
.page-button_red4 {
    float: left;
    background: #cf5b4e;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 5px 5px;
    margin: 20px 0 20px 25px;
    padding: 10px 40px 12px 40px;
    color: #fff;
    cursor: pointer;
}
.page-button_red5{
    background: #cf5b4e;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 5px 5px;
    padding: 10px 175px;
    color: #fff;
    cursor: pointer;
}
.lastbar_line--first{
      margin:0;
  }
.lastbar{
    width: 100%;
}
.lastbar_line--second{
    margin:0;
}
.lastbar_line--third{
    margin: 40px 0 0;
}
.footer{
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
}
.footer_ref{
    color: #fff;
}