* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 600px;
  height: 600px;
  flex-flow: row wrap;
}

.cell-red {
  width: 200px;
  height: 200px;
  background-color: #791c16;
}

.cell-white {
  width: 200px;
  height: 200px;
  background-color: #fff;
}

.bishop {
  padding: 10px;
}

.bishop img {
  width: 100%;
  height: 100%;
}

.knight {
  padding: 10px 13px;
}

.knight img {
  width: 103.5%;
  height: 100%;
}

.rook {
  padding: 9px 11px;
}

.rook img {
  width: 101%;
  height: 99%;
}

/*img {
    height: 100%;
    width: 105%;
}*/
