.wrapper{
    width: 560px;
    height: 450px;
    background: #80cdc6;
    position: relative;
   margin: 50px auto;
    z-index: 0;
}
.world{
    position: absolute;
    margin-top: 110px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.water{
    position: absolute;
    left: 0;
    width: 560px;
   top: 403px;
    z-index: 2;
}
.water img{
    width: 560px;
}
.ship{
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 1;
    top: 290px;
    left: 20px;
}
.clouds{
    position: absolute;
    top: 0;
    left: 230px;
    z-index: 2;
    height: 80px;
    width: 300px;
}