html, body {
	width: 100%;
	height: 100%;
}

div,
footer,
header,
aside {
	border: 1px solid #333;
	}

.fullwrap {
	padding: 20px;
}

.header {
	height: 100px;
	margin-bottom: 20px;
	width: 100%;
}

.wrap {
	box-sizing: content-box;
	margin-bottom: 20px;
	padding: 20px;
}

.wrap:after {
	content: '';
	display: block;
	clear: both;
}

.main {
	height: 400px;
	float: left;
	margin-right: 2%;
	width: 68%;
}

.sidebar {
	height: 400px;
	float: right;
	width: 29%;
}

.footer {
	height: 200px;
	width: 100%;
}
