@mixin mtop {
    margin-top: 10px;
}

* {
    box-sizing: border-box;
}

.fullwrap {
    font-family: sans-serif;
    margin: auto;
    width: 700px;

    p {
        padding: 10px;
    }
}

//task 1
.pseudo1 {
    background: #0ab61b;
    margin-top: 10px;
}

.pseudo1:hover { 
    background: #f7ff5b;
}

.pseudo1:active {
    background: #c6333b;
}

//task 2
.pseudo2 {
    @include mtop;

    background: #7b2db8;
}

.pseudo2:hover {
    background: #694c35;
}

.pseudo2:active {
    background: #e4c74b;
}

//task 3
.input-txt {
    @include mtop;
    width: 100%;
}

.input-txt:focus {
    border: solid 2px #33b30c;
}

.task3 {
    @include mtop;

    p:nth-child(2n) {
        background: #d9d9d9;
    }
}

.task4 {
    @include mtop;

    p::before {
        content: "☂";
        float: left;
        font-size: 34px;
    }

    p::first-letter {
        color: #d20303;
        font: 2em Georgia;
    }

    p::after {
        content: "*";
    }
}

.task7 {
    @include mtop;

    .rectangle {
        background: #000;
        height: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
        position: relative;
        width: 50px;
    }

    .rectangle::before {
        content: "◀";
        left: -12px;
        position: absolute;
        top: 6px;
    }
}
