.task2 {
    width: 330px;
    background: #FFFFFF;
}
.task2 h2 {
    height: 30px;
    width: 120px;
    background: #FF0000;
    color: #FFFFFF;
}

.blue {
    height: 50px;
    width: 300px;
    background: #4600FF;
    color: #000000;
}

.yellow {
    height: 40px;
    width: 300px;
    background: #FDF800;
}

.one {
    height: 40px;
    width: 50px;
    background: #FF0000;
}

.two {
    height: 40px;
    width: 100px;
    background: #FFA300;
}

.three {
    height: 40px;
    width: 150px;
    background: #4600FF;
}

.task4 p {
    height: 80px;
    width: 260px;
    padding: 20px;
    background: #FF733A;
    font-size: 48px;
}

.task5 {
    box-sizing: border-box;
    height: 200px;
    width: 480px;
    padding: 10px;
    background: #D6D7BE;
}

.task5 h1 {
    margin-top: 0;
    color: #532601;
    font-family: arial, sans-serif;
}

.task5 h2 {
    color: #000000;
}

.task5 h3 {
    color: #875327;
}

.task5 a {
    color: #485A0D;
}

.task6 {
    margin: 10px 0;
    width: 430px;
    border: solid 3px #000000;
}

.task6 p {
    margin: 5px 5px 15px 5px;
    font: 16px "Times New Roman";
}

.task6 .equation {
    font-size: 18px;
}

.task6 sup,
.task6 sub {
    font-style: italic;
}

.task7 {
    margin: 10px 0;
    height: 110px;
    width: 430px;
    border: solid 3px #000000;
}

.task7 p {
    margin: 5px 5px 15px 5px;
    font: 16px "Times New Roman";
}

.task7 span {
    font-style: italic;
}

.task7 .polynominal {
    font: italic 26px "Times New Roman";
}

.task7 sub {
    color: #0033ff;
    font: normal 16px "Times New Roman";
}

.task7 sup {
    color: #ff0000;
    font: normal 16px "Times New Roman";
}
