.wraper {
	background: #80cdc6;
	position: relative;
	margin:0 auto;
	padding:0;
	overflow: hidden;
	width: 560px;
	height: 437px;
	border-bottom: 10px solid #166b7e;
}
.image {
	position:absolute;
}

.world {
	bottom: 10px;
	z-index: 300;
}

.water {
	bottom:-1px;
	width: 560px;
	z-index:900;
}

.ship {
	bottom:30px;
	left:14px;
	width:115px;
	height:125px;
	z-index: 400;
}

.clouds {
	width: 350px;
	right:-5px;
	top:-7px;
	z-index: 0;
}