body {
    background: white;
    font-family: Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a: visited {
    color: white;
}

a: active {
    color: white;
}

.box1 {
    margin-bottom: 1px;
    border: 2px solid black;
    height: 526px;
    width: 380px;
    text-align: center;
}

.box2 {
    padding-top: 5px;
    padding-left: 20px;
    font-stretch: condensed;
    width: 320px;
    font-size: 23px;
}

.box3 {
    margin-top: 20px;
}

.box4 {
    background-color: #9aba48;
    color: white;
    margin-top: 3px;
    box-shadow: -3px 3px 5px #888888;
    height: 33px;
    width: 190px;
    font-size: 23px;
    line-height: 30px;
    font-weight: bold;
}

.box5 {
    background-color: white;
    color: black;
    margin-left: 70px;
    margin-top: 20px;
    width: 250px;
    font-size: 32px;
    line-height: 29px;
}

.box6 {
    background-color: #FF0000;
    box-shadow: -0px 5px 5px #800000;
    color: white;
    margin-top: 15px;
    margin-left: 61px;
    height: 43px;
    width: 235px;
    font-size: 29px;
    font-weight: bold;
    line-height: 40px;
    text-shadow: 1px 1px 1px #000;
}

.box7 {
    margin-left: 1px;
    margin-top: 15px;
}
