* {
    box-sizing: border-box;
}

.task2 {
    width: 330px;
    background: #fff;
}
.task2 h2 {
    height: 30px;
    width: 120px;
    background: #f00;
    color: #fff;
}

.blue {
    height: 50px;
    width: 300px;
    background: #40f;
    color: #000;
}

.yellow {
    height: 40px;
    width: 300px;
    background: #ff0;
}

.one {
    height: 40px;
    width: 50px;
    background: #f00;
}

.two {
    height: 40px;
    width: 100px;
    background: #fa0;
}

.three {
    height: 40px;
    width: 150px;
    background: #40f;
}

.task4 p {
    height: 120px;
    width: 300px;
    background: #f73;
    padding: 20px;
    font-size: 48px;
}

.task5 {
    height: 200px;
    width: 480px;
    padding: 10px;
    background: #ddb;
}

.task5 h1 {
    margin-top: 0;
    color: #520;
    font-family: arial, sans-serif;
}

.task5 h2 {
    color: #000;
}

.task5 h3 {
    color: #852;
}

.task5 a {
    color: #450;
}

.task6 {
    margin: 10px 0;
    width: 440px;
    border: solid 3px #000;
}

.task6 p {
    margin: 5px 5px 15px 5px;
    font: 16px "Times New Roman";
}

.task6 .equation {
    font-size: 18px;
}

.task6 sup,
.task6 sub {
    font-style: italic;
}

.task7 {
    margin: 10px 0;
    height: 110px;
    width: 440px;
    border: solid 3px #000;
}

.task7 p {
    margin: 5px 5px 15px 5px;
    font: 16px "Times New Roman";
}

.task7 span {
    font-style: italic;
}

.task7 .polynominal {
    font: italic 26px "Times New Roman";
}

.task7 sub {
    color: #03f;
    font: normal 16px "Times New Roman";
}

.task7 sup {
    color: #f00;
    font: normal 16px "Times New Roman";
}
